div(class='black-cat-two-slide')
    img(class='black-cat-two-slide__cat' src='./img/black-cat-two-slide__cat.png')
    img(class='black-cat-two-slide__background' src='./img/black-cat-two-slide__background.png')
    p(class='black-cat-two-slide__history') «Какая скукота!» — как будто думала любимая кошка художника. Р-р-раз! —
        |   и пушистая непоседа уже на коленях у натурщицы. Кошка одобрительно замурлыкала, сворачиваясь
        | уютным клубочком. Не прошло и секунды, как пушистая любимица Пикассо, будто черная стрела, понеслась за мухой.