div(class='black-cat-five-slide')
    img(class='black-cat-five-slide__cat cat-hand' src='./img/black-cat-five-slide__cat.png')
    div(class='black-cat-five-slide__text') &laquo;Мне нравятся одичавшие кошки, которые охотятся за&nbsp;птицами, носятся по&nbsp;улицам как угорелые, тащат всё что ни&nbsp;попадя. Они смотрят на&nbsp;вас дикими глазами и&nbsp;того и&nbsp;гляди вцепятся вам в&nbsp;физиономию&raquo;,&nbsp;&mdash; восхищался художник. Картина Пикассо &laquo;Дора Маар с&nbsp;кошкой&raquo; была продана за&nbsp;95,2 миллиона долларов, это одна из&nbsp;самых дорогих картин в&nbsp;истории живописи.
    img(class='black-cat-five-slide__text-background' src='./img/black-cat-five-slide__text-background.png')
    img(class='black-cat-five-slide__portal' src='./img/archimede-four-slide__portal.png')
    img(class='black-cat-five-slide__portal_bottom' src='./img/archimede-four-slide__portal.png')
    img(class='black-cat-five-slide__hand' src='./img/black-cat-five-slide__hand.png')
