div(class='black-cat-three-slide')
    img(class='black-cat-three-slide__cat' src='./img/black-cat-three-slide__background.png')
    img(class='black-cat-three-slide__background' src='./img/black-cat-three-slide__cat.png')
    p(class='black-cat-three-slide__history') «Вот это темперамент!» — воскликнул художник и отбросил карандаши и
        | уголь. Схватив краски, Пикассо смело подошел к холсту и начал творить. Через несколько часов картина была
        | готова. Но что это? Бурное нагромождение геометрических форм, острые углы, резкие линии… Эта картина
        | совсем не похожа на привычные нам живописные полотна. На коленях у фантастической женской фигуры из квадратов и треугольников примостилась черная кошка.