div(class='black-cat-four-slide')
    img(class='black-cat-four-slide__man' src='./img/black-cat-four-slide__man.png')
    img(class='black-cat-four-slide__background' src='./img/black-cat-four-slide__background.png')
    p(class='black-cat-four-slide__history') &laquo;О&nbsp;боже!&raquo;&nbsp;&mdash; воскликнула Дора Маар.
        |Так родился новый жанр живописи, Пикассо прославился на&nbsp;весь мир, а&nbsp;его непоседливая черная кошка
        |вошла в&nbsp;историю. Художник-бунтарь по&nbsp;характеру был так похож на&nbsp;свою домашнюю любимицу!