div(class='black-cat-one-slide')
    img(class='black-cat-one-slide__cat' src='./img/black-cat-one-slide__cat.png')
    a(href='#pack-products')
        img(class='black-cat-one-slide__pack shake' src='./img/black-cat-one-slide__pack.png')
    img(class='black-cat-one-slide__background' src='./img/black-cat-one-slide__background.png')
    p(class='black-cat-one-slide__history') Молодой испанский художник Пабло Пикассо неспешно рисовал портрет своей подруги Доры Маар. Девушка замерла, стараясь не&nbsp;шевелиться, ведь ее&nbsp;писали с&nbsp;натуры. В&nbsp;парижской студии художника царила тишина, было слышно, как мухи жужжат.