div(class='black-cat-three-slide')
    img(class='black-cat-three-slide__cat' src='./img/black-cat-three-slide__background.png')
    img(class='black-cat-three-slide__background' src='./img/black-cat-three-slide__cat.png')
    p(class='black-cat-three-slide__history') &laquo;Вот это темперамент!&raquo;&nbsp;&mdash; воскликнул художник и&nbsp;отбросил карандаши и&nbsp;уголь. Схватив краски, Пикассо смело подошел к&nbsp;холсту и&nbsp;начал творить. Через несколько часов картина была готова. Но&nbsp;что это? Бурное нагромождение геометрических форм, острые углы, резкие линии... Эта картина совсем не&nbsp;похожа на&nbsp;привычные нам живописные полотна. На&nbsp;коленях у&nbsp;фантастической женской фигуры из&nbsp;квадратов и&nbsp;треугольников примостилась черная кошка.