div(class='black-cat-comix__wrapper anime')
    div(class='black-cat-comix__slides black-cat-comix-slides')
        div(class='black-cat-comix-slides__one anime')
            include ./black-cat-comix-one.pug
        div(class='black-cat-comix-slides__two anime')
            include ./black-cat-comix-two.pug
        div(class='black-cat-comix-slides__three anime')
            include ./black-cat-comix-three.pug
        div(class='black-cat-comix-slides__four anime')
            include ./black-cat-comix-four.pug
        div(class='black-cat-comix-slides__five anime')
            include ./black-cat-comix-five.pug
