div(class='archimede-block anime' id='arhimed')
    img(class='archimede-block__background' src='./img/archimede-block__background.png')
    img(class='archimede-block__background_corona' src='./img/archimede-block__background_corona.png')
    div(class='archimede-block__about archimede-block-about')
        h2(class='archimede-block-about__title') Принцип плавучести  и&nbsp;закон Архимеда
        p(class='archimede-block-about__description') Если бы кошки умели плавать
    div(class='archimede-block__content') В&nbsp;городе Сиракузы в&nbsp;Древней Греции жил великий ученый и&nbsp;математик по&nbsp;имени Архимед. Однажды его вызвал к&nbsp;себе царь Герон II&nbsp;и&nbsp;повелел выяснить, из&nbsp;чистого&nbsp;ли золота сделана его корона.
include ../comixes/archimede-comix/main-archimede-comix.pug