div(class='black-cat-block anime' id='picasso')
    img(class='black-cat-block__background_top' src='./img/medieval-cat-block__background_top.png')
    img(class='black-cat-block__background_bottom' src='./img/medieval-cat-block__background_bottom.png')
    div(class='black-cat-block__about black-cat-block-about')
        h2(class='black-cat-block-about__title') Кубизм и черные кошки
        p(class='black-cat-block-about__description') Умел ли Пикассо рисовать котиков?
include ../comixes/black-cat/main-black-cat-comix.pug