div(class='secret-block anime')
    img(class='secret-block__background' src='./img/intro-secret-block.png')
    div(class='secret-block__about block-about')
        p(class='block-about__description')
            | Коты, живущие возле человека, всегда делали его жизнь уютнее, мягче  и&nbsp;веселее. Они сопровождали великих мореплавателей в&nbsp;море, охраняли рукописи и&nbsp;картины от&nbsp;мышей, были рядом даже в&nbsp;самых<br />
            | сложных ситуациях.
        a(href='#pack-products' class='block-about__link')
            button(class='block-about__button') Узнать секрет  кошачьего заряда
    div(class='secret-block__cartoon block-cartoon')
        div(class='block-cartoon__cat cartoon-cat')
            img(class='cartoon-cat__cat animate__animated' src='./img/cat-in-portal.png')
            img(class='cartoon-cat__portal' src='./img/poertal.png')
        div(class='block-cartoon__article cartoon-article anime')
            img(class='cartoon-article__background' src='./img/nuton-background-history.png')
            p(class='cartoon-article__text') Задумывались&nbsp;ли вы&nbsp;когда-нибудь о&nbsp;том,
                | что роль кошек в&nbsp;истории человечества намного важнее, чем просто домашний питомец?<br />  А&nbsp;что, если&nbsp;бы коты оставили свой след во&nbsp;многих областях деятельности человека,  в&nbsp;том числе внеся свою лепту в&nbsp;великие открытия?

