div(class='cat-astronomer-block anime' id='astronavt')
    img(class='cat-astronomer-block__background_top' src='./img/medieval-cat-block__background_top.png')
    img(class='cat-astronomer-block__background_bottom' src='./img/medieval-cat-block__background_bottom.png')
    div(class='cat-astronomer-block__about cat-astronomer-block-about')
        h2(class='cat-astronomer-block-about__title') Астрономический кот <br /> и бесконечное пространство
        p(class='cat-astronomer-block-about__description') Насколько широко может разлечься кот?
    include ../comixes/cat-astronomer/main-cat-astronomer-comix.pug