div(class='cat-usa-block anime')
    img(class='cat-usa-block__background_top' src='./img/cat-usa-block__background_top.png')
    img(class='cat-usa-block__background_bottom' src='./img/medieval-cat-block__background_bottom.png')
    div(class='cat-usa-block__about cat-usa-block-about')
        h2(class='cat-usa-block-about__title') Озорной кот и&nbsp;открытие Америки
include ../comixes/cat-usa/main-cat-usa-comix.pug
