div(class='footer anime' id='pack-products')
    img(class='footer__background anime' src='./img/footer__background.png')
    p(class='footer__description anime') Лакомство Dreamies&trade;&nbsp;&mdash; это вкусное дополнение
        | к&nbsp;ежедневному рациону вашей кошки.
    div(class='footer__cats footer-cats')
        img(class='footer-cats__cloud-one anime' src='./img/footer-cats__cloud-one.png')
        img(class='footer-cats__cloud-two anime' src='./img/footer-cats__cloud-two.png')
        img(class='footer-cats__cloud-small anime' src='./img/footer-cats__cloud-small.png')
        p(class='footer-cats__cloud-two-text anime') Лакомые подушечки Dreamies&trade; содержат витамины А, D3, Е
            |  и&nbsp;группы&nbsp;В, и&nbsp;полезные  для кошек минералы.

        img(class='footer-cats__cloud-tree anime' src='./img/footer-cats__cloud-tree.png')
        p(class='footer-cats__cloud-tree-text anime') Лаждая подушечка лакомства содержит менее 2&nbsp;килокалорий.
            |Рекомендуемая дневная норма для твоего  котика&nbsp;&mdash; 4&nbsp;подушечки на&nbsp;1&nbsp;килограмм
            |веса, в&nbsp;дополнение к&nbsp;основному рациону

        img(class='footer-cats__cloud-four anime' src='./img/footer-cats__cloud-four.png')
        p(class='footer-cats__cloud-four-text anime') Лакомство Dreamies&trade; можно давать котятам
            |старше 2&nbsp;месяцев и&nbsp;стерелизованным кошечкам.

        img(class='footer-cats__cloud-five anime' src='./img/footer-cats__cloud-five.png')
        p(class='footer-cats__cloud-five-text anime') В&nbsp;лакомных подушечках Dreamies&trade; не&nbsp;используются
            | искусственные ароматизаторы

        a(href='https://www.dreamies.ru/taste/dreamies-s-syrom/syr_60/' target="_blank")
            img(class='footer-cats__pack-cheese increase-icon anime' src='./img/footer-cats__pack-cheese.png')
        a(href='https://www.dreamies.ru/taste/dreamies-mix2/govyadina-s-syrom_60/' target="_blank")
            img(class='footer-cats__pack-mix1 increase-icon anime' src='./img/footer-cats__pack-mix1.png')
        a(href='https://www.dreamies.ru/taste/dreamies-miks/koshachya-myata-i-kurica_60/' target="_blank")
            img(class='footer-cats__pack-mix2 increase-icon anime' src='./img/footer-cats__pack-mix2.png')
        a(href='https://www.dreamies.ru/taste/dreamies-s-govyadinoj/govyadina_60/' target="_blank")
            img(class='footer-cats__pack-beef increase-icon anime' src='./img/footer-cats__pack-beef.png')
        a(href='https://www.dreamies.ru/taste/dreamies-s-kuricei/kurica_60/' target="_blank")
            img(class='footer-cats__pack-chicken increase-icon anime' src='./img/footer-cats__pack-chicken.png')
        a(href='https://www.dreamies.ru/taste/dreamies-s-utkoj/utka_60/' target="_blank")
            img(class='footer-cats__pack-duck increase-icon anime' src='./img/footer-cats__pack-duck.png')
        a(href='https://www.dreamies.ru/taste/dreamies-s-lososem/losos_60/' target="_blank")
            img(class='footer-cats__pack-fish increase-icon anime' src='./img/footer-cats__pack-fish.png')

