div(class='main-block')
    div(class='block-info__logo')
        img(class='logo' src='./img/logo.png')
    img(class='block-info__background' src="./img/main-background.png")
    div(class='main-block__info')
        div(class='block-info')
            h1(class='block-info__title') КОШАЧИЙ <strong class="sled">СЛЕД</strong> В&nbsp;ИСТОРИИ
            div(class='block-info__content info-content')
                h3(class='info-content__title') СПОЙЛЕР
                p(class='info-content__description')
                    | Эти истории могли однажды произойти в&nbsp;домах великих учёных,
                    | поэтов  и&nbsp;художников. Ведь все они были ещё  и&nbsp;великими
                    | почитателями котов!
                button(class='info-content__button') Читать истории
    div(class='main-block__actions block-actions')
        div(class='block-actions__right actions-right')
            img(class='actions-right__nuton' src='./img/nuton.png')
            img(class='actions-right__kopernik' src='./img/kopernik.png')
            img(class='actions-right__picasso' src='./img/picasso.png')
            img(class='actions-right__cat-redactor' src='./img/cat-redactor.png')
        div(class='block-actions__left actions-left')
            img(class='actions-left__arhimed' src='./img/arhimed.png')
            img(class='actions-left__cat-on-table' src='./img/cat-on-table.png')
            img(class='actions-left__shturval' src='./img/shturval.png')
