//section(id="menu")
//    div(class='container')
//        div(class='flex')
//            div(class='item item1')
//                a(href="https://www.ok-magazine.ru/")
//                    img(src="./img/OK_magazine_LOGO-white (2).png" alt="OK-logo")
div(class='main-block')

    div(class='block-info__logo')
        img(class='logo' src='./img/logo1.png')
    img(class='block-info__background' src="./img/main-background.png")
    div(class='main-block__info')
        div(class='block-info')
            h1(class='block-info__title') КОШАЧИЙ СЛЕД В&nbsp;ИСТОРИИ
            div(class='block-info__content info-content')
                h3(class='info-content__title') СПОЙЛЕР <span class="spoiler">*</span>
                p(class='info-content__description')
                    | Эти истории могли однажды произойти в&nbsp;домах великих учёных,
                    | поэтов  и&nbsp;художников. Ведь все они были ещё  и&nbsp;великими
                    | почитателями котов!
                a(href='#nuton')
                    button(class='info-content__button') Читать истории
            div(class='block-info__disclaimer') Все истории являются вымышленными, не являются исторически достоверными,
                |а любые совпадения с историческими событиями являются случайными
    div(class='main-block__actions block-actions')
        div(class='block-actions__right actions-right')
            a(href='#nuton' class='nuton-tooltip' data-title='Непослушная кошка и закон всемирного тяготения')
                img(class='actions-right__nuton increase-icon' src='./img/nuton.png')
            a(href='#kopernik' class='arhimed-tooltip' data-title='Средневековый кот и круглая, как клубок, Земля')
                img(class='actions-right__kopernik increase-icon' src='./img/kopernik.png')
            a(href='#picasso' class='picasso-tooltip' data-title='Кубизм и черные кошки')
                img(class='actions-right__picasso increase-icon' src='./img/picasso.png')
            a(href='#redactor' class='arhimed-tooltip' data-title='Акулы пера и их верные котики')
                img(class='actions-right__cat-redactor increase-icon' src='./img/cat-redactor.png')
        div(class='block-actions__left actions-left')
            a(href='#arhimed' class='arhimed-tooltip' data-title='Принцип плавучести и закон Архимеда')
                img(class='actions-left__arhimed increase-icon' src='./img/arhimed.png')
            a(href='#astronavt' class='nuton-tooltip' data-title='Астрономический кот и бесконечное пространство')
                img(class='actions-left__cat-on-table increase-icon' src='./img/cat-on-table.png')
            a(href='#usa' class='arhimed-tooltip' data-title='Озорной кот и открытие Америки')
                img(class='actions-left__shturval increase-icon' src='./img/shturval.png')
