div(class='medieval-cat-block anime' id='kopernik')
    img(class='medieval-cat-block__background_top' src='./img/medieval-cat-block__background_top.png')
    img(class='medieval-cat-block__background_bottom' src='./img/medieval-cat-block__background_bottom.png')
    div(class='medieval-cat-block__about medieval-cat-block-about')
        h2(class='medieval-cat-block-about__title') Средневековый кот <br /> &nbsp;и&nbsp;круглая, как клубок, Земля
        p(class='medieval-cat-block-about__description') Наша планета бегает за&nbsp;Солнцем, как кот за&nbsp;клубком
    include ../comixes/medieval-cat/main-medieval-cat-comix