div(class="nuton-block anime ")
    div(class='nuton-block__about nuton-about anime')
        h2(class='nuton-about__title') Непослушная кошка и закон всемирного тяготения
        p(class='nuton-about__description') А было ли яблоко?
    div(class='nuton-block__cartoon nuton-cartoon anime')
        div(class='nuton-cartoon__history')
            div(class='nuton-cartoon__wrapper')
                p(class='nuton-cartoon__history_one') В&nbsp;60-х годах XVII века молодой, но&nbsp;уже довольно известный
                    | английский ученый Исаак Ньютон неспешно работал в&nbsp;родовой усадьбе Вулсторп. День выдался
                    | настолько погожий, что ученый решил обустроить себе рабочее место в&nbsp;тени яблони в&nbsp;саду.
                    | Его пушистый кот тоже с&nbsp;радостью вышел поиграть на&nbsp;свежем воздухе.
                p(class='nuton-cartoon__history_two') Однако хозяин склонился над уравнениями и&nbsp;совсем не&nbsp;обращал
                    | внимания на&nbsp;любимца.
            img(class='nuton-cartoon__background' src='./img/nuton-article-background.png')
        img(class='nuton-cartoon__tree' src='./img/nuton-tree.png')
include ../comixes/nuton/main-comix.pug