div(class='writer-cat-block anime' id='redactor')
    img(class='writer-cat-block__background_top' src='./img/medieval-cat-block__background_top.png')
    img(class='writer-cat-block__background_bottom' src='./img/medieval-cat-block__background_bottom.png')
    div(class='writer-cat-block__about writer-cat-block-about')
        h2(class='writer-cat-block-about__title') Акулы пера и&nbsp;их&nbsp;верные котики
include ../comixes/writer-cat/main-writer-cat-comix.pug