div(class='writer-cat-comix__wrapper anime')
    div(class='writer-cat-comix__slides writer-cat-comix-slides')
        div(class='writer-cat-comix-slides__one anime')
            include ./writer-cat-comix-one.pug
        div(class='writer-cat-comix-slides__two anime')
            include ./writer-cat-comix-two.pug
        div(class='writer-cat-comix-slides__five anime')
            include ./writer-cat-comix-three.pug
