div(class='writer-cat-three-slide anime')
    img(class='writer-cat-three-slide__cat move-end' src='./img/writer-cat-three-slide__cat.png')
    img(class='writer-cat-three-slide__background-history' src='./img/writer-cat-three-slide__background-history.png')
    img(class='writer-cat-three-slide__portal' src='./img/writer-cat-three-slide__portal.png')
    img(class='writer-cat-three-slide__hand' src='./img/writer-cat-three-slide__hand.png')
    a(href='#pack-products')
        img(class='writer-cat-three-slide__pack' src='./img/writer-cat-three-slide__pack.png')
    p(class='writer-cat-three-slide__history') Вы&nbsp;спросите&nbsp;&mdash; почему? Всё очень просто. Ведь котик прекрасно знает, что после завершения своих дел его любимая хозяйка пойдет на&nbsp;кухню (вы&nbsp;догадались, что речь идет о&nbsp;том периоде, когда мы&nbsp;работали удаленно, из&nbsp;дома), чтобы наградить себя чашкой ароматного кофе и&nbsp;поблагодарить питомца за&nbsp;помощь лакомством DREAMIES&trade;.