div(class='writer-cat-two-slide anime')
    img(class='writer-cat-two-slide__cat' src='./img/writer-cat-two-slide__cat.png')
    img(class='writer-cat-two-slide__background-history' src='./img/writer-cat-two-slide__background-history.png')
    p(class='writer-cat-two-slide__history') Так, далеко не&nbsp;каждый главный редактор смог&nbsp;бы справиться со&nbsp;стрессом перед сдачей номера в&nbsp;печать, если&nbsp;бы не&nbsp;мурчащий помощник, согревающий своим теплом и&nbsp;вниманием. В&nbsp;нашей редакции происходит именно так!