div(class='writer-cat-one-slide anime')
    img(class='writer-cat-one-slide__cat' src='./img/writer-cat-one-slide__cat.png')
    img(class='writer-cat-one-slide__background-history' src='./img/writer-cat-one-slide__background-history.png')
    p(class='writer-cat-one-slide__history') Как вы&nbsp;уже поняли, котики стараются помогать своим хозяевам во&nbsp;многих сферах их&nbsp;жизни! Даже если это значит просто лежать и&nbsp;успокаивающе мяукать.