div(class='cat-usa-three-slide anime')
    img(class='cat-usa-three-slide__cat' src='./img/cat-usa-three-slide__cat.png')
    img(class='cat-usa-three-slide__background-history' src='./img/cat-usa-three-slide__background-history.png')
    p(class='cat-usa-three-slide__history') Мог&nbsp;ли тогда Колумб предположить, что именно этот кот в&nbsp;порыве
        |своей игры прыгнет на&nbsp;штурвал и&nbsp;раскрутит рулевое колесо так, что его нерасторопный хозяин
        |не&nbsp;сможет вернуть прежний курс и&nbsp;уведет корабль в&nbsp;сторону Америки?