div(class='cat-usa-four-slide anime')
    img(class='cat-usa-four-slide__cat cat-hand' src='./img/cat-usa-four-slide__cat.png')
    img(class='cat-usa-four-slide__background-history' src='./img/cat-usa-four-slide__background-history.png')
    p(class='cat-usa-four-slide__history') Конечно нет, но&nbsp;именно это событие сильно повлияло на&nbsp;ход
        |дальнейшей истории и&nbsp;положило начало эпохе Великих географических открытий. А&nbsp;наш пушистый озорник
        |был очень рад, когда судно Колумба причалило к&nbsp;берегам неизведанной страны, и&nbsp;первым спустился
        |на&nbsp;землю будущей Америки.
    img(class='cat-usa-four-slide__hand' src='./img/cat-usa-four-slide__hand.png')
    img(class='cat-usa-four-slide__portal' src='./img/cat-usa-four-slide__portal.png')
    //img(class='cat-usa-four-slide__portal_bottom' src='./img/cat-usa-three-slide__background-history.png')