div(class='cat-usa-one-slide anime')
    img(class='cat-usa-one-slide__cat' src='./img/cat-usa-one-slide__cat.png')
    a(href='#pack-products')
        img(class='cat-usa-one-slide__pack shake' src='./img/black-cat-one-slide__pack1.png')
    div(class='cat-usa-one-slide__history') Испанский мореплаватель Христофор Колумб уважал членов своей команды и&nbsp;очень любил животных. И&nbsp;вот он&nbsp;разрешил одному из&nbsp;своих матросов взять с&nbsp;собой в&nbsp;экспедицию красивого кота&nbsp;&mdash; бело-серого окраса, издалека напоминающего чайку.