div(class='cat-usa-two-slide anime')
    img(class='cat-usa-two-slide__cat' src='./img/cat-usa-two-slide__cat.png')
    img(class='cat-usa-two-slide__background-history' src='./img/cat-usa-two-slide__background-history.png')
    img(class='cat-usa-two-slide__fish' src='./img/cat-usa-two-slide__fish.png')
    p(class='cat-usa-two-slide__history') &laquo;Почему&nbsp;бы и&nbsp;нет? &mdash;подумал
        |Колумб. &mdash;&nbsp;корабельные коты всегда приносили удачу всему экипажу, да&nbsp;и&nbsp;матросам
        |будет веселее в&nbsp;предстоящей экспедиции к&nbsp;берегам Индии&raquo;