div(class='cat-usa-one-slide anime')
    img(class='cat-usa-one-slide__cat' src='./img/cat-usa-one-slide__cat.png')
    img(class='cat-usa-one-slide__pack shake' src='./img/black-cat-one-slide__pack.png')
    div(class='cat-usa-one-slide__history') Тогда усатый и полосатый Николас Коперникус решил «работать» вместе
        | с хозяином. Коварный план готов: ловко запрыгнув на рабочий стол Эдвина, кот старательно растянулся
        | по всем листам, до которых только мог дотянуться. «Какой бесконечный кот!» — подумал астроном.