div(class='cat-usa-comix__wrapper anime')
    div(class='cat-usa-comix__slides cat-usa-comix-slides')
        div(class='cat-usa-comix-slides__one anime')
            include ./cat-usa-commix-one.pug
        div(class='cat-usa-comix-slides__two anime')
            include ./cat-usa-commix-two.pug
        div(class='cat-usa-comix-slides__three anime')
            include ./cat-usa-commix-three.pug
        div(class='cat-usa-comix-slides__four anime')
            include ./cat-usa-commix-four.pug
