.archimede-one-slide {
  width: inherit;
  height: inherit;
  position: relative;
  opacity: 0;

  &__cat {
    position: absolute;
    width: 223px;
    height: 227px;
    left: 57px;
    bottom: 69px;

  }

  &__text {
    position: absolute;
    width: 226px;
    height: 115px;
    top: 161px;
    right: 70px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #000000;
  }

  &__history-background1 {
    position: absolute;
    width: 364px;
    height: 230px;
    right: 41px;
    bottom: 32px;
  }

  &__battr {
    position: absolute;
    width: 97px;
    height: 97px;
    right: 204px;
  }
}