main(class='page-content')
    include ../includes/blocks/main-block.pug
    include ../includes/blocks/cat-secret-block.pug
    include  ../includes/blocks/nuton-block.pug
    include  ../includes/blocks/archimede-block.pug
    include  ../includes/blocks/medieval-cat-block.pug
    include  ../includes/blocks/cat-astronomer-block.pug