div(class='cat-astronomer-three-slide')
    img(class='cat-astronomer-three-slide__cat' src='./img/cat-astronomer-three-slide__cat.png')
    img(class='cat-astronomer-three-slide__background' src='./img/cat-astronomer-three-slide__background.png')
    p(class='cat-astronomer-three-slide__history') И&nbsp;тут ученого озарило! А&nbsp;что, если наша Вселенная так&nbsp;же бесконечна, как и&nbsp;распластавшийся кот? До&nbsp;исследований Хаббла считалось, что Вселенная состоит из&nbsp;нашей Галактики и&nbsp;Млечного Пути. &laquo;Но&nbsp;тогда где&nbsp;же ее&nbsp;конец?&raquo;&nbsp;&mdash; размышлял Хаббл.