div(class='cat-astronomer-slide-one anime')
    img(class='cat-astronomer-slide-one__background' src='./img/cat-astronomer-slide-one__background.png')
    div(class='cat-astronomer-slide-one__history cat-astronomer-slide-one-history')
        img(class='cat-astronomer-slide-one-history__background' src='./img/cat-astronomer-slide-one-history__background.png')
        p(class='cat-astronomer-slide-one-history__text' ) Серый котик по&nbsp;кличке Николас Коперникус так любил, когда ему чешут пузико. Но&nbsp;вот беда, его хозяин Эдвин Хаббл больше интересовался космосом, чем своим собственным котом, просиживая часами в&nbsp;кабинете в&nbsp;Калифорнии. Ученый бился над тайнами Галактики и&nbsp;даже кота назвал в&nbsp;честь великого ученого прошлого.
    div(class='cat-astronomer-slide-one__cat cat-astronomer-slide-one-cat')
        img(class='cat-astronomer-slide-one-cat__background' src='./img/cat-astronomer-slide-one-cat__background.png')
