div(class='cat-astronomer-four-slide')
    img(class='cat-astronomer-four-slide__cat cat-hand' src='./img/cat-astronomer-four-slide__cat.png')
    img(class='cat-astronomer-four-slide__hand' src='./img/cat-astronomer-four-slide__cat cat-hand.png')
    img(class='cat-astronomer-four-slide__portal' src='./img/cat-astronomer-four-slide__portal.png')
    img(class='cat-astronomer-four-slide__portal_top' src='./img/cat-astronomer-four-slide__portal.png')
    div(class='cat-astronomer-four-slide__history') Глядя на своего кота, ученый сделал удивительное открытие и &nbsp;
        | впоследствии доказал, что Вселенная бесконечна, а наша Галактика не единственное образование в космическом
        | пространстве и кроме нее существуют другие.
