div(class='cat-astronomer-two-slide')
    img(class='cat-astronomer-two-slide__cat' src='./img/cat-astronomer-two-slide__cat.png')
    a(href='#pack-products')
        img(class='cat-astronomer-two-slide__pack shake' src='./img/cat-astronomer-two-slide__pack.png')
    img(class='cat-astronomer-two-slide__background' src='./img/medieval-cat-one-slide-background.png')
    p(class='cat-astronomer-two-slide__history') Тогда усатый и полосатый Николас Коперникус решил «работать» вместе
        | с хозяином. Коварный план готов: ловко запрыгнув на рабочий стол Эдвина, кот старательно растянулся
        | по всем листам, до которых только мог дотянуться. «Какой бесконечный кот!» — подумал астроном.