div(class='cat-astronomer-three-slide')
    img(class='cat-astronomer-three-slide__cat' src='./img/cat-astronomer-three-slide__cat.png')
    img(class='cat-astronomer-three-slide__background' src='./img/cat-astronomer-three-slide__background.png')
    p(class='cat-astronomer-three-slide__history') Тогда усатый и&nbsp;полосатый Николас Коперникус решил &laquo;работать&raquo; вместе &nbsp;c&nbsp;хозяином. Коварный план готов: ловко запрыгнув на&nbsp;рабочий стол Эдвина, кот старательно растянулся по&nbsp;всем листам, до&nbsp;которых только мог дотянуться. &laquo;Какой бесконечный кот!&raquo;&nbsp;&mdash; подумал астроном.