div(class='cat-astronomer-two-slide')
    img(class='cat-astronomer-two-slide__cat' src='./img/cat-astronomer-two-slide__cat.png')
    a(href='#pack-products')
        img(class='cat-astronomer-two-slide__pack shake' src='./img/cat-astronomer-two-slide__pack.png')
    img(class='cat-astronomer-two-slide__background' src='./img/medieval-cat-one-slide-background.png')
    p(class='cat-astronomer-two-slide__history') Тогда усатый и&nbsp;полосатый Николас Коперникус решил &laquo;работать&raquo; вместе с&nbsp;хозяином. Коварный план готов: ловко запрыгнув на&nbsp;рабочий стол Эдвина, кот старательно растянулся по&nbsp;всем листам, до&nbsp;которых только мог дотянуться. &laquo;Какой бесконечный кот!&raquo;&nbsp;&mdash; подумал астроном.