div(class='cat-astronomer-comix__wrapper anime')
    div(class='cat-astronomer-comix__slides cat-astronomer-comix-slides')
        div(class='cat-astronomer-comix-slides__one anime')
            include ./cat-astronomer-comix-one
        div(class='cat-astronomer-comix-slides__two anime')
            include ./cat-astronomer-comix-two
        div(class='cat-astronomer-comix-slides__three anime')
            include ./cat-astronomer-comix-three
        div(class='cat-astronomer-comix-slides__four anime')
            include ./cat-astronomer-comix-four