div(class='medieval-cat-comix__wrapper')
    div(class='medieval-cat-comix__slides medieval-cat-comix-slides')
        div(class='medieval-cat-comix-slides__one')
            include ./medieval-cat-comix-one
        div(class='medieval-cat-comix-slides__two')
            include ./medieval-cat-comix-two
        div(class='medieval-cat-comix-slides__three')
            include ./medieval-cat-comix-three
        div(class='medieval-cat-comix-slides__four')
            include ./medieval-cat-comix-four