div(class='medieval-cat-comix__wrapper anime')
    div(class='medieval-cat-comix__slides medieval-cat-comix-slides')
        div(class='medieval-cat-comix-slides__one anime')
            include ./medieval-cat-comix-one
        div(class='medieval-cat-comix-slides__two anime')
            include ./medieval-cat-comix-two
        div(class='medieval-cat-comix-slides__three anime')
            include ./medieval-cat-comix-three
        div(class='medieval-cat-comix-slides__four anime')
            include ./medieval-cat-comix-four