div(class='medieval-cat-two-slide')
    img(class='medieval-cat-two-slide__cat' src='./img/medieval-cat-two-slide__cat.png')
    img(class='medieval-cat-two-slide__background' src='./img/medieval-two-one-slide-background.png')
    div(class='medieval-cat-two-slide__history') За&nbsp;веселой игрой домашний&nbsp;любимец перевернул корзину с&nbsp;вязанием.&nbsp;
        |Клубки пряжи рассыпались и&nbsp;покатились по&nbsp;всей комнате.
        |Мальчишки схватили клубки и&nbsp;начали раскручивать их&nbsp;вокруг себя, а&nbsp;кот решил подыграть
        |и&nbsp;стал догонять клубок шерсти.