div(class='medieval-cat-four-slide')
    img(class='medieval-cat-four-slide__cat cat-hand-inverse' src='./img/medieval-cat-four-slide__cat.png')
    div(class='medieval-cat-four-slide__text') Может, и&nbsp;мир так&nbsp;же устроен&nbsp;&mdash; в&nbsp;центре&nbsp;
        | находится Солнце, а&nbsp;вокруг вращаются планеты?
    img(class='medieval-cat-four-slide__text-background' src='./img/medieval-cat-four-slide__text-background.png')
    img(class='medieval-cat-four-slide__portal' src='./img/archimede-four-slide__portal.png')
    img(class='medieval-cat-four-slide__portal_bottom' src='./img/archimede-four-slide__portal.png')
    img(class='medieval-cat-four-slide__hand' src='./img/archimede-four-slide__hand.png')
    img(class='medieval-cat-four-slide__clew' src='./img/medieval-cat-four-slide__clew.png')