div(class='medieval-cat-one-slide')
    img(class='medieval-cat-one-slide__cat' src='./img/medieval-cat-one-slide__cat.png')
    a(href='#pack-products')
        img(class='medieval-cat-one-slide__pack shake' src='./img/medieval-cat-one-slide__pack.png')
    img(class='medieval-cat-one-slide__background' src='./img/medieval-cat-one-slide-background.png')
    p(class='medieval-cat-one-slide__history') Польский ученый Николай Коперник сидел за&nbsp;столом в&nbsp;своей комнате в&nbsp;Кракове и&nbsp;размышлял об&nbsp;устройстве мира. В&nbsp;это время его племянники возились на&nbsp;полу, играя с&nbsp;котом. У&nbsp;Коперника не&nbsp;было своих детей, но&nbsp;он&nbsp;трепетно заботился о&nbsp;малышах его родной сестры.