div(class='medieval-cat-one-slide')
    img(class='medieval-cat-one-slide__cat' src='./img/medieval-cat-one-slide__cat.png')
    img(class='medieval-cat-one-slide__pack' src='./img/medieval-cat-one-slide__pack.png')
    img(class='medieval-cat-one-slide__background' src='./img/medieval-cat-one-slide-background.png')
    p(class='medieval-cat-one-slide__history') Польский ученый Николай Коперник сидел за столом в своей комнате в
        | Кракове и размышлял
        | об устройстве мира. В это время его племянники возились на полу, играя с котом. У Коперника не было своих
        | детей, но он трепетно заботился о малышах его родной сестры.