div(class='medieval-cat-tree-slide')
    img(class='medieval-cat-three-slide__cat' src='./img/medieval-cat-three-slide__cat.png')
    img(class='medieval-cat-three-slide__background' src='./img/medieval-three-slide__background.png')
    div(class='medieval-cat-three-slide__history') Коперник вскочил, увидев эту картину. Но&nbsp;вовсе не&nbsp;для
        | того, чтобы отругать детей. Он&nbsp;задумался, действительно&nbsp;ли это Солнце вращается вокруг Земли,
        | или всё&nbsp;же наоборот. Ведь мальчик сидит неподвижно, а&nbsp;кот за&nbsp;клубком бегает вокруг него.
        | Может, и&nbsp;мир так&nbsp;же устроен&nbsp;&mdash; в&nbsp;центре находится Солнце, а&nbsp;вокруг
        | вращаются планеты?