div(class='archimede-four-slide')
    img(class='archimede-four-slide__cat cat-hand-inverse' src='./img/archimede-four-slide__cat.png')
    img(class='archimede-four-slide__text' src='./img/archimede-four-slide__text.png')
    img(class='archimede-four-slide__portal' src='./img/archimede-four-slide__portal.png')
    img(class='archimede-four-slide__portal_bottom' src='./img/archimede-four-slide__portal.png')
    img(class='archimede-four-slide__hand' src='./img/archimede-four-slide__hand.png')