div(class='archimede-tree-slide anime')
    img(class='archimede-tree-slide__cat' src='./img/archimede-tree-slide__cat.png')
    img(class='archimede-tree-slide__text-background' src='./img/archimede-tree-slide__text-background2.png')
    p(class='archimede-tree-slide__text') Бросившись спасать любимца, Архимед заметил, что часть воды выплеснулась на&nbsp;мраморный пол его жилища. &laquo;Эврика!&raquo;&nbsp;&mdash; закричал мудрец! Кот по&nbsp;кличке Эврика в&nbsp;это время уже сох на&nbsp;солнышке. &laquo;Эврика! Я&nbsp;догадался!&raquo;&nbsp;&mdash; радовался ученый.
