div(class='archimede-one-slide anime')
    img(class='archimede-one-slide__cat' src='./img/archimede-one-slide__cat.png')
    img(class='archimede-one-slide__battr' src='./img/archimede-one-slide__battr.png')
    img(class='archimede-one-slide__history-background1' src='./img/archimede-one-slide__history-background1.png')
    p(class='archimede-one-slide__text') Загрустил математик и&nbsp;побрел домой. Он&nbsp;быстро понял, что ему нужно определить объем короны, чтобы рассчитать плотность металла. Но&nbsp;как это сделать?