div(class='archimede-one-slide anime')
    img(class='archimede-one-slide__cat' src='./img/archimede-one-slide__cat.png')
    img(class='archimede-one-slide__battr' src='./img/archimede-one-slide__battr.png')
    img(class='archimede-one-slide__history-background' src='./img/archimede-one-slide__history-background.png')