div(class='archimede-tree-slide anime')
    img(class='archimede-tree-slide__cat' src='./img/archimede-tree-slide__cat.png')
    img(class='archimede-tree-slide__text' src='./img/archimede-tree-slide__text.png')
