div(class='archimede-two-slide anime')
    img(class='archimede-two-slide__cat' src='./img/archimede-two-slide__cat.png')
    img(class='archimede-two-slide__text' src='./img/archimede-two-slide__text.png')
    a(href='#pack-products')
        img(class='archimede-two-slide__pack shake' src='./img/archimede-two-slide__pack.png')
    img(class='archimede-two-slide__history-background' src='./img/archimede-two-slide__history-background.png')