div(class='archimede-four-slide')
    img(class='archimede-four-slide__cat cat-hand-inverse' src='./img/archimede-four-slide__cat.png')
    img(class='archimede-four-slide__text-background' src='./img/archimede-four-slide__text-background.png')
    img(class='archimede-four-slide__portal' src='./img/portal.png')
    img(class='archimede-four-slide__portal_bottom' src='./img/portal.png')
    img(class='archimede-four-slide__hand' src='./img/archimede-four-slide__hand.png')
    p(class='archimede-four-slide__text') Он&nbsp;понял, что при падении в&nbsp;воду кот вытеснил равный ему объем воды, следовательно, этот принцип действует и&nbsp;на&nbsp;корону! Решение задачи было найдено!