div(class='archimede-two-slide anime')
    img(class='archimede-two-slide__cat' src='./img/archimede-two-slide__cat.png')
    img(class='archimede-two-slide__text-background' src='./img/archimede-two-slide__history-background2.png')
    a(href='#pack-products')
        img(class='archimede-two-slide__pack shake' src='./img/archimede-two-slide__pack.png')
    img(class='archimede-two-slide__history-background' src='./img/archimede-two-slide__history-background.png')
    p(class='archimede-two-slide__text') Пока Архимед думал, его домашний кот охотился за&nbsp;мотыльком. Прыгая с&nbsp;колонны на&nbsp;колонну, пушистый охотник не&nbsp;рассчитал силы и&nbsp;сорвался. Угодив прямо в&nbsp;ванну, которую древнегреческий мудрец приготовил для себя, кот был очень недоволен.