div(class='archimede-block__wrapper anime')
    div(class='archimede-block__slides archimede-slides')
        div(class='archimede-slides__one')
            include ./archimede-comix-one
        div(class='archimede-slides__two')
            include ./archimede-comix-two
        div(class='archimede-slides__three')
            include ./archimede-comix-tree
        div(class='archimede-slides__four')
            include ./archimede-comix-four
