div(class='slides-two anime')
    div(class='slides-two__cat slides-two-cat')
        img(class='slides-two-cat__background' src='./img/slides-two-cat__background.png')
    div(class='slides-two__history slides-two-history')
        img(class='slides-two-history__background' src='./img/slides-two-history__background.png')
        p(class='slides-two-history__text' ) Как&nbsp;бы ни&nbsp;хотелось хозяину сделать перерыв и&nbsp;устроить
            | догонялки, он&nbsp;аккуратно переложил своего полосатого друга на&nbsp;скамейку, ведь наука не&nbsp;ждет!
            | <span class='slides-two-history__text_two'>Но коты так быстро не сдаются!</span>
