div(class='slides-three anime')
    div(class='slides-three__history slide-three-history')
        p(class='slide-three-history__text' ) Наш пушистый друг решил посмотреть, чем таким интересным занят хозяин, и&nbsp;ловко забрался по&nbsp;веткам яблони, чтобы заглянуть в&nbsp;конспекты хозяина. Изящно перебираясь с&nbsp;ветки на&nbsp;ветку, игривый охотник задел уже созревшие плоды, которые начали сыпаться прямо вниз, на&nbsp;стол, работы и&nbsp;бедную голову ученого.
    div(class='slides-three__cat slides-three-cat')
        img(class='slides-three-cat__background' src='./img/slides-three-cat__background.png')
