div(class='slides-one anime')
    div(class='slides-one__history slide-one-history')
        img(class='slide-one-history__background' src='./img/slide-one-history__background.png')
        p(class='slide-one-history__text' ) Очень скоро пушистому шалуну надоело гоняться за&nbsp;бабочками,
            | и&nbsp;он&nbsp;решил обратить на&nbsp;себя внимание хозяина. Грациозно запрыгнув на&nbsp;стол
            |   выдающегося математика, кот столкнул стопку бумаг и&nbsp;устроился прямо на&nbsp;тетради Исаака Ньютона.
    div(class='slides-one__cat slides-one-cat')
        img(class='slides-one-cat__background' src='./img/slides-one-cat__background.png')
        a(href='#pack-products')
            img(class='slides-one-cat__pack shake' src='./img/slides-one-cat__pack.png')
