div(class='slides-four ')
    div(class='slides-four__history slides-four-cat')
        img(class='slides-four-cat__portal' src='./img/slides-four-cat__portal.png')
        img(class='slides-four-cat__portal_bottom' src='./img/slides-four-cat__portal.png')
        img(class='slides-four-cat__hand' src='./img/slides-four-cat__hand.png')
        img(class='slides-four-cat__cat cat-hand' src='./img/slides-four-cat__cat.png')
    div(class='slides-four__cat slide-four-history')
        img(class='slide-four-history__background' src='./img/slide-four-history__portal__background.png')
        p(class='slide-four-history__text') Говорят, что именно упавшее яблоко натолкнуло 23-летнего гения на&nbsp;открытие закона всемирного тяготения! Кто знает, как&nbsp;бы дальше развивалась наука, если&nbsp;бы не&nbsp;кот-шалун Исаака Ньютона...
