div(class='nuton-block__wrapper')
    img(class='nuton-slides__background' src='./img/nuton-slides__background.png')
    img(class='nuton-slides__background_right' src='./img/nuton-slides__background_right.png')
    div(class='nuton-block__slides nuton-slides')
        div(class='nuton-slides__one')
            include ./comix-one.pug
        div(class='nuton-slides__two')
            include  ./comix-two.pug
        div(class='nuton-slides__three')
            include ./comix-three.pug
        div(class='nuton-slides__four')
            include ./comix-four.pug
